# ipython, not required, helpful when needing a Python shell.
ipython

# HTTP requests
requests==2.22.0

# Useful for requests debugging.
requests-toolbelt==0.9.1
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
