# ipython, not required, helpful when needing a Python shell.
ipython

# HTTP requests
requests==2.22.0

# Useful for requests debugging.
requests-toolbelt==0.9.1
urllib3>=1.26.18 # not directly required, pinned by Snyk to avoid a vulnerability
